.ant-radio-button-wrapper {
  width: 180px !important;
  text-align: center;
}

.ant-radio-button-checked {
  background-color: #00bfff;
}

.ant-radio-button-wrapper-checked {
  color: black !important;
}

.ant-radio-button-wrapper:hover {
  color: black !important;
}

.title {
  color: #00bfff !important;
}