.game-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.game-details {
  height: 32px;
  color: white;
}

.mine-field-container {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mine-cell {
  color: white;
  background-color: #00bfff;
  padding: 0;
  text-align: center;
  text-decoration: none;
  width: 32px;
  height: 32px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer !important;
  margin: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 2px;
}

.mine-cell.opened {
  background-color: #3b3b3b !important;
}

.mine-cell.opened.mine {
  background-color: #00bfff !important;
}

.mine-cell.opened.mine.click-opened {
  background-color: indianred !important;
}

.mine-cell.disabled {
  background-color: #20638f !important;
  cursor: pointer !important;
  color: white !important;
}

.mine-cell:hover {
  background-color: #2980b9 !important;
  color: white !important;
}

.game-details-hint:hover,
.timer-pause-icon:hover {
  background-color: #282c34 !important;
}